{% extends "layout.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
  <h1>Регистрация</h1>

  <form method="post" action="{% url 'registration' %}" class="input">
    {% csrf_token %}
    <table>
      <tr>
        <td><p>Email:</p></td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td><p>{{ form.password.label_tag }}</p></td>
        <td>{{ form.password }}</td>
      </tr>
    </table>

    <div align="center">
      <input type="submit" value="Зарегистрироваться" style="margin-top: 10px;"/>
    </div>
  </form>

  {% if error_msg %}
    <div class="error_msg">
      <p>{{ error_msg }}</p>
    </div>
  {% endif %}

{% endblock %}
