{% extends "layout.html" %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>

    <div style="position: absolute; top: 200px; left: 50px;">
        <p>{{ article.full_text }}</p><br>
        <p>Дата публикации: {{ article.date }}</p>
        <p>Автор: {{ article.author }}</p>

        <div style="display: flex; gap: 10px; margin-top: 10px;">
            <button><a href="{% url 'article_update' article.id %}" style="color: black;">
                Редактировать
            </a></button><br>
            <button><a href="{% url 'article_delete' article.id %}" style="color: black;">
                Удалить
            </a></button>
        </div>

        <p>{{ error }}</p>
    </div>
{% endblock %}
