{% extends "layout.html" %}

{% block title %}Все статьи{% endblock %}

{% block content %}
    <h1>Статьи</h1>

    {% if articles %}
        <div class="article_list">
                {% for elem in articles %}
                    <div class="article">
                        <h1>{{ elem.title }}</h1>
                        <p>{{ elem.date }}</p>
                        <p>Автор: {{ elem.author }}</p>

                        <a href="{% url 'article_detail' elem.id %}">Читать подробнее</a><br>
                    </div>
                {% endfor %}
        </div>
    {% else %}
        <p>Пока статей нет</p>
    {% endif %}

{% endblock %}
